# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Ambiente
.env
.env.local

# Next.js
node_modules/
.next/
out/
build/

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/


# Scripts de teste
backend/scratch_*.py

# Modelos do InsightFace
**/.insightface/

backend/hand_landmarker.task